

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}











.gl{white-space:nowrap}.hp #tsf{margin:0 auto;width:833px;}#tsf{width:833px}.big #tsf,.hp .big #tsf{width:1139px;}


#google{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 109px;
    font-family: Arial,  sans-serif;

}

    

.ctr-p{

    margin-left: auto;
    margin-bottom: auto;
    margin-bottom: 0%;
    margin-top: auto;

}


    body{
        margin: 0;
        padding: 0;
        
    }



.input-field{
  
  
margin: auto;
display: flex;
flex-direction: row;

    
}

.container , input{

    justify-content: center;

}
input[type="search"]{

border: inherit;
display: flex;
flex-direction: row;
margin: auto;
position: relative;
width: fit-content;
border: 1px solid #dfe1e5;
border-top-color: rgb(223, 225, 229);
border-top-style: solid;
border-top-width: 1px;
border-right-color: rgb(223, 225, 229);
border-right-style: solid;
border-right-width: 1px;
border-bottom-color: rgb(223, 225, 229);
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(223, 225, 229);
border-left-style: solid;
border-left-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
margin-top: -32px;
padding-left: 40px;
width: 34em;
height: 40px;
z-index: 1;
}

input:hover{box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);}


    


    .search-icon{


        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        maring-top: 10em;
        margin-top: -26px;
    }

#icon{

width: 8%;

}
    
    

.header-left{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 9em;
    position: relative;
    float: left;
    margin-top: -16em;
    outline: none;
    outline-style: none;
}
    

        
  .header-right{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 12em;
    position: relative;
    float: right;
    margin-top: -16em;

  }  
