.gl{white-space:nowrap}.hp #tsf{margin:0 auto;width:833px;}#tsf{width:833px}.big #tsf,.hp .big #tsf{width:1139px;}


#google{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 109px;
    font-family: Arial,  sans-serif;

}

#viewport{

    width: 2488px;
    height: 1023px;
    max-width: 100%;
    min-width: 100%;
    

}

.ctr-p{

    margin-left: auto;
    margin-bottom: auto;
    margin-bottom: 0%;
    margin-top: auto;

}

.input-field{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -37px;

}

.input-field {
  
  width: 465px;
  height: 44px;
    
    position: relative;
    border: none;
    font: 16px, arial, sans-serif;
    font-size: 16px;
    font: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.input-border{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    height: 44px;
    position: absolute;
    border: 1px solid #ddd;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    z-index: 3;
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

 .input-border:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-icon{

    display: block;
    position: absolute;
    margin-left: 60em;
    
    margin-top: -24px;
}
    
    

}

